*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
.font-effect-neon {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #f7f,0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1.0em #f0f, 0 0 1.2em #f0f;
  color: #fff;
}
.font-effect-outline {
  text-shadow:0 1px 1px #000, 0 -1px 1px #000, 1px 0 1px #000, -1px 0 1px #000;
  color: #fff;
}
.font-effect-emboss {
  text-shadow: 0px 1px 1px #fff, 0 -1px 1px #000;
  color: #ddd;
}
.font-effect-shadow-multiple {
  text-shadow: .04em .04em 0 #fff,.08em .08em 0 #aaa;
  -webkit-text-shadow: .04em .04em 0 #fff, .08em .08em 0 #aaa;
}
body {
    margin: 0;
    background: #000;
    font: 1rem/1.25 'Mukta Mahee', sans-serif;
}

.solid{
	--width:50%;
	--height:50%;
	
    background-image: paint(solid-color);
	--solid-color: #444;
	--animation-tick: 0;
    position: absolute;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
	font-size: 10;
	text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #f7f,0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1.0em #f0f, 0 0 1.2em #f0f;
	color: #fff;
}

.warning {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    padding: 20px;
    border-top: 4px dashed #e8590c;
    background-color: #ffe8cc;
    color: #e8590c;
    text-align: center;
}

.no-support .warning {
    display: block;
}

.warning .fas {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
